<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>About</h2>
                <!--<p>One of my favorite Frank Lloyd Wright quotes, "The truth is more important than the facts."</p>-->
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <img src="~/Content/img/Jakeabout1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content">
                    <h3>Creative &amp; Full Stack Web Developer</h3>
                    <p class="fst-italic">
                        "The truth is more important than the facts" - Frank Lloyd Wright
                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-rounded-right"></i> <strong>Birthday:</strong> July 8th, 1983</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Website:</strong> www.JacobWoodworth.com</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Phone:</strong> (314) 743-9782</li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Location:</strong> : Saint Louis, MO USA</li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="bi bi-rounded-right"></i> <strong>Age:</strong> 38</li>
                                <li>
                                    <i class="bi bi-rounded-right"></i> <strong>Certifications:</strong>                                 <img src="~/Content/img/devIcons/006-html-5.png" />
                                    <img src="~/Content/img/devIcons/005-css-3.png" />
                                    <img src="~/Content/img/devIcons/004-js-format.png" />
                                    <img src="~/Content/img/devIcons/008-physics.png" />
                                    <img src="~/Content/img/devIcons/002-jquery-sketch-symbol.png" />
                                    <img src="~/Content/img/devIcons/007-hashtag.png" />
                                    <img src="~/Content/img/devIcons/009-sql-file-symbol.png" />
                                </li>
                                <li><i class="bi bi-rounded-right"></i> <strong>Email:</strong> Jwoodworth515@gmail.com</li>
                                <li>
                                    <i class="bi bi-rounded-right"></i> <strong>Developer Card:</strong><a href="https://devcard.link/r1mzZQ" target="_blank"> DevCard</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <h1>Where I come from</h1>
                    <article>
                        <p>
                            Early in my life I received a guitar and felt a sense of expression, creativity, and direction, I had never felt before. From that time and through my youth I lived my life through music feeding my desire to learn.
                        </p>
                        <p>
                            Now, I am still feeding that desire to learn, it is just not on stage or in a recording studio.
                        </p>
                        <p>
                            The music industry in many ways was a conduit into the professional world for me. After only a few months of joining a start up with an entry-level position I realized that I had found my next setting of discipline. In just a few years, a company that was founded with only a handful of employees had grown to 22 times that number with me at the head of operations and management. While the company grew as did my interests in other avenues, specifically the technology field and the many platforms of learning it offers.
                        </p>
                        <p>
                            At the time, I never thought of myself as being tech savvy, but I was surprised by the amount of terminology, platforms and applications I had been exposed to. Working with developers made me appreciate the intricacies of web design, their functionality, and the countless hours that go into them. This was the push that I needed to follow my academic hunger to join Centriq Training and become a Full Stack Developer.
                        </p>
                        <p>
                            Currently I am in Saint Louis Missouri and will be seeking out employment opportunities that will challenge my new skills as well as my already seasoned assets. Often the best way to learn is by fire and that is something that is no stranger to me in my story. After a decade of respected and professional experience providing internal employee development, team effectiveness and leadership development consulting; I find myself back in the pupil’s chair. Eager to hear the next melody or note that comes after C#.
                        </p>
                    </article>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Testimonials</h2>
                <p>Below are some kind words from my colleagues</p>
            </div>

            <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <a href="https://www.linkedin.com/in/michaelkgriffin" target="_blank"><img src="~/Content/img/testimonials/MGriffin.jfif" class="testimonial-img" alt=""></a>
                            <h3>Michael Griffin</h3>
                            <h4>Ceo &amp; Founder</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Few call centers across the country can service the demanding world of direct response advertising. Even fewer are able to balance “performance by numbers” with a true command of customer service and brand integrity.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div><!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item">
                            <a href="http://www.jaethedeveloper.com/" target="_blank"><img src="~/Content/img/testimonials/JTaylor.jfif" class="testimonial-img" alt=""></a>
                            <h3>Jae Taylor</h3>
                            <h4>Full Stack Web Developer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                During our training (at Centriq), Jacob has dedicated a consistency and determination that continues to inspire me. I know I can rely on him whenever we have mutual projects. His multitasking ability is exceptional. He handles himself professionally while always being ready to aid, explain, and teach. I am happy he is my colleague!
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                    <!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item">

                            <a href="http://www.linkedin.com/in/dhaim" target="_blank"><img src="~/Content/img/testimonials/DHaim.jfif" class="testimonial-img" alt=""></a>
                            <h3>Daniel Haim</h3>
                            <h4>Founder and Chief Operating Officer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                There are those that can perform under stress and being pulled in several directions, and those that say they can, Jacob is the former of these two. While consulting, it was a pleasure to observe his perseverance and determination to deliver on goals in parallel with providing leadership and motivating his team. In both a professional and personal capacity, I would not hesitate to recommend or collaborate with Jacob for future opportunities.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                    <!-- End testimonial item -->
                    <div class="swiper-slide">
                        <div class="testimonial-item">

                            <a href="http://www.linkedin.com/in/danielle-smalley" target="_blank"><img src="~/Content/img/testimonials/DSmalley.jfif" class="testimonial-img" alt=""></a>
                            <h3>Danielle Smalley</h3>
                            <h4>Full Stack Web Developer</h4>
                            <p>
                                <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                                Jacob is a shining example of perseverance and determination, and I'm lucky to have witnessed this during our training together in Full Stack Development at Centric Training. He will work tirelessly on the project at hand, is willing to help others, and has helped me become a better collaborator by his example. He's not afraid to put in the time to do the work and research required to achieve the end goal. His background of technology-adjacent roles and work experiences paired with his love of learning, creativity, and diligent work ethic would make him a great asset to any developer team.
                                <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                            </p>
                        </div>
                    </div>
                    <!-- End testimonial item -->
                    @*<div class="swiper-slide">
            <div class="testimonial-item">
                <a href="http://www.linkedin.com/in/jshatzkamer" target="_blank"><img src="assets/img/testimonials/JShatzkamer.jfif" class="testimonial-img" alt=""></a>
                <h3>Jason Shatzkamer</h3>
                <h4>CTO and Cofounder</h4>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos export minim fugiat minim velit minim dolor enim duis veniam ipsum anim magna sunt elit fore quem dolore labore illum veniam.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>
        </div>*@
                    <!-- End testimonial item -->
                    @*<div class="swiper-slide">
            <div class="testimonial-item">
                <a href="http://www.linkedin.com/in/kyle-krummenacher-a6779121" target="_blank"><img src="assets/img/testimonials/KKrummenacher.jfif" class="testimonial-img" alt=""></a>
                <h3>Kyle Krummenacher</h3>
                <h4>Management Director</h4>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>
        </div>*@
                    <!-- End testimonial item -->
                    @*<div class="swiper-slide">
            <div class="testimonial-item">
                <a href="http://www.linkedin.com/in/wendylrodgers" target="_blank"><img src="" class="testimonial-img" alt=""></a>
                <h3>Wendy Rodgers</h3>
                <h4>Client Services Executive</h4>
                <p>
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam tempor noster veniam enim culpa labore duis sunt culpa nulla illum cillum fugiat legam esse veniam culpa fore nisi cillum quid.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                </p>
            </div>
        </div>*@
                    <!-- End testimonial item -->
                </div>
                <div class="swiper-pagination"></div>
            </div>

        </div>
    </section>
    <!-- End Testimonials Section -->

</main><!-- End #main -->