<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Defiance Pointe</h2>
                <p>
                    A Collection of flyers from the DP days, and our debut release Until the Dawn.
                </p>
            </div>
            <section>
                <!--Music Player-->

                <script src="https://apps.elfsight.com/p/platform.js" defer></script>
                <div class="elfsight-app-5a658e6e-f7ca-45a0-abe0-e8bd5a1c5abd"></div>

            </section><!--End Music Player-->

            <article>
                <section>
                    <h2>Defiance Pointe Show Flyers</h2>
                    <div class="row">
                        <div class="row-cols-sm-6">
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350281465_6949590_n - Copy.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350296465_630320_n - Copy.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350376465_4924184_n - Copy.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350416465_2085222_n - Copy.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350421465_8357681_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350476465_1800746_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350486465_252205_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350526465_4525170_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350556465_4123676_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350606465_5611472_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399351081465_2067889_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399351101465_1667629_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399351106465_6611035_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350466465_3267736_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399350431465_6099195_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/32052_399351076465_7741595_n.jpg" />
                            <img src="assets/img/music/defiancePointeArtwork/Pointfest_26__1600W-2.jpeg" />
                        </div>
                    </div>
                </section>
            </article>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->