<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>From Skies of Fire</h2>
                <p>
                    Flyers and artwork of the From Skies of Fire days, and the album The No Coast Ep.
                </p>
            </div>



            <!--Music Player-->

            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-8442b14d-bf50-49ba-a0e7-ee61cfb94678"></div>

            <!--End Music Player-->

            <article>
                <div class="row">
                    <div class="row-cols-sm-6">
                        <img src="~/Content/img/music/fromSkiesOfFireArtwork/165380_491707611465_7363536_n.jpg" />
                        <img src="~/Content/img/music/fromSkiesOfFireArtwork/180385_491707571465_4115377_n.jpg" />
                        <img src="~/Content/img/music/fromSkiesOfFireArtwork/188662_10150104587106466_6019175_n.jpg" />
                        <img src="~/Content/img/music/fromSkiesOfFireArtwork/409380_10150501471091466_1024017077_n.jpg" />
                        <img src="~/Content/img/music/fromSkiesOfFireArtwork/423723_10150501471246466_178885039_n.jpg" />
                    </div>
                </div>
            </article>


        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->