<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Give Them My Name</h2>
                <p>
                    The Great American Money Grab album
                </p>
            </div>

            <!--Music Player-->

            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-cfdf46c0-ef53-4fbc-9b64-b5b8676eb074"></div>

            <!--End Music Player-->

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
