    <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-end">
    <div class="container d-flex flex-column align-items" data-aos="zoom-in" data-aos-delay="100">
        <h1>Jacob Woodworth</h1>
        <h2>I'm a Creative Full Stack Web Developer from Saint Louis, MO</h2>
        <!--<a href="about.html" class="btn-about">About Me</a>-->
    </div>
</section><!-- End Hero -->