<main id="main">

    <br />
    <br />

    <!-- ======= Portfolio Details Section ======= -->
    <section id="project-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/PMDProject.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/PMDProject2.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/PMDProject3.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/PMDProject4.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/PMDProject5.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/PMDProject6.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/PMDProject7.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/PMDProject8.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/PMDProject9.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/PMDProject10.JPG" alt="Index Page View" />
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project Information</h3>
                        <ul>
                            <li><strong>Category</strong>: Pair Programming Full Stack Web Application</li>
                            <li><strong>Client</strong>: UpsideDown University</li>
                            <li><strong>Project date</strong>: August 6, 2021</li>
                            <!--<li><strong>Project URL</strong>: <a href="" target="_blank"></a></li>-->
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is an example of a Pair Programming Full Stack Web Application using HTML5, CSS3, JavaScript, C#, ASP.Net, MVC, Entity Frameworks, SQL, Identity Samples, jQuery / jQuery DataTables, Bootstrap, Debugging, Pair Programming, and Trello.</h2>
                        <p>
                            This project was completed during the Pair-Programming portion of Centriq Training.  It is a representation of my ability to build a full stack web application while working with a development team using Agile and Scrum methodologies.
                            This was a sprint pair-programming project where I collaborated with my classmate Danielle Smalley.  We were given this project on a Tuesday afternoon and presented it that Friday as a fully functioning full stack web application.
                            The highlights of my contributions to the project were selecting and converting the template, creating the trello board, updating and locking down the navigation links and image paths, building the contact form.  The intro video on the home page may be a little over the top for a scheduling admin app but I couldn't help but create and add it to the project.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
