<main id="main">

    <br />
    <br />

    <!-- ======= Portfolio Details Section ======= -->
    <section id="project-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="">
                                <img src="~/Content/img/portfolio/FibEvenSum.JPG" alt="Index Page View" />
                            </div>

                            <!--<div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.png" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.png" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.png" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.png" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.png" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.png" alt="Index Page View" />
                            </div>-->

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project Information</h3>
                        <ul>
                            <li><strong>Category</strong>: Coding Challenge Question</li>
                            <li><strong>Client</strong>: N/A</li>
                            <li><strong>Project date</strong>: 28 July, 2021</li>
                            <li><strong>Project URL</strong>: <a href="https://github.com/Jwoodworth515/ARTPHomework/blob/master/FibonacciEvenSum/Program.cs" target="_blank">GitHub Link</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>Fibonacci Coding Challenge</h2>
                        <p>
                            This is a challenge question I received during my Centriq Training FSWD program.  These questions are borrowed from Project Euler and are an example of complex problem-solving using C# methodology and mathematics.
                            <br />
                            <br />
                            By considering the terms in the Fibonacci sequence whose values do not exceed four million, find the sum of the even-valued terms.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
