<main id="main">

    <br />
    <br />

    <!-- ======= Portfolio Details Section ======= -->
    <section id="project-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.1.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.2.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.3.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.4.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.5.JPG" alt="Index Page View" />
                            </div>

                            @*<div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.6.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.7.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.8.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.9.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.10.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.11.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.12.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.13.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.14.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.15.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.16.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.17.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.18.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.19.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.20.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.21.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.22.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.23.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.24.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.25.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.26.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.27.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.28.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.29.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/JavaScript30.30.JPG" alt="Index Page View" />
                            </div>*@



                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <!--<h3>Coming Soon</h3>-->
                        <ul>
                            <!--<li><strong>Category</strong>: </li>
                            <li><strong>Client</strong>: </li>
                            <li><strong>Project date</strong>: </li>-->
                            <!--<li><strong>Project URL</strong>: <a href="" target="_blank"></a></li>-->
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>JavaScript30 Challenge</h2>
                        <p>
                            30 Day Vanilla JS Coding Challenge - Build 30 Things in 30 Days With 30 Tutorials - No Frameworks, No Compilers, No Libraries, No Boilerplate.
                            <br />
                            <br />
                            I decided to take this challenge to boost my JS knowledge and have a little fun in between researching employment opportunities.  These are the results of the builds that I created while taking the course.  I Highly Recommend!
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
