<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="project-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront2.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront3.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront4.JPG" alt="Index Page View" />
                            </div>

                            @*<div class="swiper-slide">
                                <img src="~/Content/img/portfolio/ComingSoon.png" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/ComingSoon.png" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/ComingSoon.png" alt="Index Page View" />
                            </div>*@

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Two Tier E-Commerce site</li>
                            <li><strong>Client</strong>: B# Guitar Shop</li>
                            <li><strong>Project date</strong>: July 1, 2021</li>
                            <!--<li><strong>Project URL</strong>: <a href="" target="_blank"></a></li>-->
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>In Progress Example of a two tier MVC e-commerce design and build with HTML5, CSS3, C#, JavaScript, jQuery, SQL, XML, Bootstrap, and AJAX.</h2>
                        <p>
                            This project is in progress.  Completed, this will be two tier MVC dynamic application with an Entity Framework tied to its own Database.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
