<main id="main">

    <br />
    <br />

    <!-- ======= Portfolio Details Section ======= -->
    <section id="project-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront2.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront3.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront4.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront5.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront6.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront7.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront8.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront9.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/StoreFront10.JPG" alt="Index Page View" />
                            </div>



                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Two Tier E-Commerce site</li>
                            <li><strong>Client</strong>: B# Guitar Shop</li>
                            <li><strong>Project date</strong>: July 1, 2021</li>
                            <!--<li><strong>Project URL</strong>: <a href="" target="_blank"></a></li>-->
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is an example of a Full Stack Two Tier MVC e-commerce design and build with HTML5, CSS3, C#, ASP.Net JavaScript, jQuery, SQL, XML, Bootstrap, and AJAX.</h2>
                        <p>
                            This project was completed during the Advanced MVC portion of Centriq Training.  It is a representation of my ability to build a full stack dynamic web application with an Entity Framework tied to its own Database.  The template selection for this project was definitely a style choice and not one made of convenience.  It truly tested my debugging skills and styling capabilities at times.  I am pleased with the outcome and am glad that I stuck with my wireframe and original plan to produce this application.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
