<main id="main">

    <br />
    <br />

    <!-- ======= Portfolio Details Section ======= -->
    <section id="project-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/ReactBuilds1.JPG" alt="Index Page View" />
                            </div>

                            <!--<div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/ComingSoon.JPG" alt="Index Page View" />
                            </div>-->

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <!--<h3>Coming Soon</h3>-->
                        <ul>
                            <li><strong>Category</strong>: React Builds</li>
                            <li><strong>Client</strong>: N/A</li>
                            <li><strong>Project date</strong>: October 4, 2021</li>
                            <li><strong>Project URL</strong>: <a href="https://github.com/Jwoodworth515" target="_blank">Github Link</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>React Training Builds</h2>
                        <p>
                            This is a collection of React.js training builds.
                            <br />
                            <br />
                            1.  This is a Tic Tac Toe game built from the tutorial offered from <a href="https://reactjs.org/tutorial/tutorial.html" target="_blank">react.js.org</a>
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->