<main id="main">

    <br />
    <br />

    <!-- ======= Portfolio Details Section ======= -->
    <section id="project-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/FSDProject.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/FSDProject2.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/FSDProject3.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/FSDProject4.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/FSDProject5.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/FSDProject6.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/FSDProject7.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/FSDProject8.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/FSDProject9.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/FSDProject10.JPG" alt="Index Page View" />
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project Information</h3>
                        <ul>
                            <li><strong>Category</strong>: Final Build Full Stack Web Application</li>
                            <li><strong>Client</strong>: FrenchTown Studios</li>
                            <li><strong>Project date</strong>: August 17, 2021</li>
                            <!--<li><strong>Project URL</strong>: <a href="" target="_blank"></a></li>-->
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is the Final Project that I completed during the Centriq Training 4-month boot camp.  It is an example of a Full Stack Web Application using HTML5, CSS3, JavaScript, C#, ASP.Net, MVC, Entity Frameworks, SQL, Identity Samples, jQuery / jQuery DataTables, Bootstrap, Debugging, Responsive/Mobile Web Development, Database Build, and a Trello board.</h2>
                        <p>
                            This project was completed during the Final Build portion of Centriq Training.  This project shows the cumulative knowledge that I have accrued during my time at Centriq training with building an MVC Full Stack Web Application.  Using project requirements,  I was able to design and build this project in a self-structured sprint in the last week of class.  This application gives the owner the ability to create and manage reservations by client and location which makes it a powerful tool for a small business owner. It also provides the client the ability to create their own profile, reservations, and communicate directly with the company. In short, this project has met all my original goals.  It is a highly functioning data driven application that is also esthetically pleasing and easy to navigate.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->
