<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="project-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/Dungeon Application Project.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/Dungeon Application Project2.JPG" alt="Classes Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/Dungeon Application Project3.JPG" alt="Team Page View One" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/Dungeon Application Project4.JPG" alt="Team Page View Two" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/Dungeon Application Project5.JPG" alt="Team Page View Three" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/Dungeon Application Project6.JPG" alt="Team Page View Four" />
                            </div>

                            <div class="swiper-slide">
                                <img src="~/Content/img/portfolio/Dungeon Application Project7.JPG" alt="Contact Page View" />
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Game design</li>
                            <li><strong>Client</strong>: The Music Pit</li>
                            <li><strong>Project date</strong>: 18 June, 2021</li>
                            <!--<li><strong>Project URL</strong>: <a href="#">www.PlaceHolder.com</a></li>-->
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is an example of a ground up C# only Design and Build.</h2>
                        <p>
                            This project was completed during the Middle Tier Development portion of Centriq Training.  It is a representation of my ability to create a dungeon crawler game, that shows multi-stage processes broken down into steps to design complex logical structures.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->