<main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="project-details" class="portfolio-details">
        <div class="container">

            <div class="row gy-4">

                <div class="col-lg-8">
                    <div class="portfolio-details-slider swiper-container">
                        <div class="swiper-wrapper align-items-center">

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/PersonalSite.JPG" alt="Index Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/PersonalSite2.JPG" alt="Classes Page View" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/PersonalSite3.JPG" alt="Team Page View One" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/PersonalSite4.JPG" alt="Team Page View Two" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/PersonalSite5.JPG" alt="Team Page View Three" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/PersonalSite6.JPG" alt="Team Page View Four" />
                            </div>

                            <div class="swiper-slide">
                                <img src="assets/img/portfolio/PersonalSite7.JPG" alt="Contact Page View" />
                            </div>

                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>

                <div class="col-lg-4">
                    <div class="portfolio-info">
                        <h3>Project information</h3>
                        <ul>
                            <li><strong>Category</strong>: Personal Web Page Design</li>
                            <li><strong>Client</strong>: Jacob Woodworth Personal Site</li>
                            <li><strong>Project date</strong>: 24 June, 2021</li>
                            <li><strong>Project URL</strong>: <a href="http://www.JacobWoodworth.com" target="_blank">www.JacobWoodworth.com</a></li>
                        </ul>
                    </div>
                    <div class="portfolio-description">
                        <h2>This is an example of a build from a template</h2>
                        <p>
                            This project was completed during the Front End Development portion of Centriq Training.  It is a representation of my ability to create a website using a template and manipulating the existing HTML, CSS, JavaScript, jQuery, jQueryUI and other functionality & pieces.
                        </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Portfolio Details Section -->

</main><!-- End #main -->