<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>
                <p>At a glance where I come from and the knowledge I have gained from those experiences</p>
                <br />
                <h4 style="font-size: x-large"><a href="~/Content/img/Jacob Woodworth Resume.pdf" target="_blank">View and Print a PDF copy of my Resume</a></h4>
            </div>
                        
            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4 class="nameText">Jacob Woodworth</h4>
                        <p><em>Innovative and deadline-driven IT Implementation Consultant and Full Stack Web Developer with years of experience in the creative and professional world.  Eager to apply a broad-range of experience and emerging development skills improving business and operational processes by leveraging natural analytical abilities.  Special interest in CCaaS/SaaS and Lead Generation Technology promoting growth and innovation.</em></p>
                        <p>
                            <ul>
                                <li>St. Charles, Mo</li>
                                <li>(314) 743-9782</li>
                                <li>Jwoodworth515@gmail.com</li>
                            </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Professional Skills</h3>
                    <div class="resume-item">
                        <p>
                            <ul>
                                <li>Business Operations</li>
                                <li>Agile IT Consultation</li>
                                <li>Statistical Analysis</li>
                                <li>Project and Team Optimization</li>
                                <li>Mechanical and Building Design</li>
                                <li>Solution Delivery and Implementation</li>
                                <li>Complication Forecasting</li>
                                <li>Web Development and Design</li>
                                <li>Process Improvement</li>
                                <li>Critical Thinking</li>
                                <li>Team Oriented</li>
                                <li>Emotional Intelligence</li>
                                <li>Open to Criticism</li>
                                <li>Digital Fluency</li>
                                <li>Public Speaking</li>
                                <li>Agnostically Adept</li>
                            </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4 class="nameText">Full Stack Web Developer</h4>
                        <h5>2021 - 2021</h5>
                        <p><em>Centriq Training, St. Louis, Mo</em></p>
                        <div class="badges">
                            <img src="~/Content/img/ProgramGraduate1.png" />
                            <img src="~/Content/img/PerfectAttendance1.png" />
                            <img src="~/Content/img/CareerReady1.png" />
                        </div>
                        <p>
                            <ul>
                                <li>Front End: HTML5, CSS3, JavaScript</li>
                                <li>Middle Tier: .Net, C#, React.js</li>
                                <li>Back End: SQL, ASP.Net, JS</li>
                                <li>Trouble Shooting & Debugging, Source Control, Agile/Scrum(Created Team Project, Website Deployment, Pair Programming, Code Review</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Architecture</h4>
                        <h5>2002 - 2004</h5>
                        <p><em>Ranken Technical College, St. Louis, Mo</em></p>
                        <p>
                            <ul>
                                <li>Software: AutoCad, Revit, SketchUp, 3DS Max Design, Chief Architect</li>
                                <li>Digital and Freehand production of Residential Design & Architecture, Commercial Development Architecture, 2D and 3D Computer Modeling, Model Structure Design</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Design Drafting</h4>
                        <h5>2000 - 2002</h5>
                        <p><em>Lewis and Clark Career Center, St. Charles, Mo</em></p>
                        <p>
                            <ul>
                                <li>Software: AutoCad, Chief Architect</li>
                                <li>Digital and Freehand production of Mechanical Drafting, Freehand Sketching, Design Rendering and Presentation, ANSI Standard Building Blocks, Architectural and Civil Design</li>
                            </ul>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4 class="nameText">Business Systems Analyst</h4>
                        <h5>2023 - Current</h5>
                        <p><em>Mohela, Hybrid Position </em></p>
                        <p>
                            <ul>
                                <li>Provide direct support to C# .Net Developers intranet web applications team.</li>
                                <li>Testing code changes for specification expectations and troubleshooting.</li>
                                <li>Processing and documenting internal databases writing SQL queries.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Software Implementation Consultant</h4>
                        <h5>2021 - 2023</h5>
                        <p><em>Waterfield Technologies, Remote Position </em></p>
                        <p>
                            <ul>
                                <li>Assumed primary ownership of customer relationships in the Twilio Flex vertical, producing 15+ successful projects and solid partnerships in an agile environment.</li>
                                <li>Led kick-off and requirements gathering sessions and translated the stakeholders needs into developmental tasks to produce business requirement documents.</li>
                                <li>Drafted and executed test use/cases for regression & beta software iterations.</li>
                                <li>Collaborated with developers to create & test customizable and scalable solutions.</li>
                                <li>Developed intelligible user stories and project roadmaps via Jira and Confluence.</li>
                                <li>Role blended and performed multiple titles concurrently such as:</li>
                                <li>- Implementation Consultant</li>
                                <li>- Business Analyst</li>
                                <li>- Project Coordinator</li>
                                <li>- Customer Success Manager</li>
                                <li>- Quality Assurance</li>
                                <li>- Direct Technical Support</li>
                                <li>- IVR Design and Developer</li>
                                <li>- Pre-Sales Consultation</li>
                                <li>- Technical Liaison and Interpreter</li>
                                <li>- UAT Product Trainer</li>
                                <li>- Training and Spec Underwriter</li>
                                <li>- Product Subject Matter Expert</li>
                                <li>Produced intricate reusable business flow designs via Lucidchart and MS Visio.</li>
                                <li>Consulted clients on best business practices and software strengths/limitations.</li>
                                <li>Chaired UAT and group training sessions as a subject matter expert.</li>
                                <li>Provided post-cutover support to production clients to maintain relationships.</li>
                                <li>Capitalized on company RTO to obtain certifications in Twilio, Five9, Atlassian, Avaya, Office365 , React.js, and sharpened management skills.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Local 660 Union Laborer and Logistics</h4>
                        <h5>2019 - 2021</h5>
                        <p><em>Scharf Construction LLC, St. Charles, Mo </em></p>
                        <p>
                            <ul>
                                <li>Delivery and operation of heavy machinery & raw materials to construction sites.</li>
                                <li>Knowledge of construction materials, equipment, & project management.</li>
                                <li>Communicated with site foreman & management to ensure supply expectations.</li>
                                <li>On call asset for snow removal at Boeing, Express Scripts, and Amazon.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Director of Business Operations</h4>
                        <h5>2012 - 2019</h5>
                        <p><em>Lightfire Partners LLC, St. Louis, Mo </em></p>
                        <p>
                            <ul>
                                <li>Developed startup structure including 100% of customer service facing business and omni-channel communications in a blended environment.</li>
                                <li>Collected, analyzed, developed, documented, and communicated business strategy requirements in correlation with data and company SLA's.</li>
                                <li>Managed daily operation company-wide including 50+ employees and supervisors in both remote and multiple location capacities.</li>
                                <li>Managed a monthly budget of 50K-100K of data acquisition from vendors.</li>
                                <li>Researched and implemented CCaaS/SaaS software with on-premises CRM.</li>
                                <li>Recruited, trained, and coached 100% of staff on an ongoing basis.</li>
                                <li>Created and implemented a company standard including an SOP and training documentation to ensure quality and compliance.</li>
                                <li>Forecasted company P&L's working with owners & senior level management. </li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Performing Member and Manager</h4>
                        <h5>2006 - 2012</h5>
                        <p><em>Defiance Pointe LLC, St. Louis, Mo</em></p>
                        <p>
                            <ul>
                                <li>Creation, composition, and performance of music</li>
                                <li>Development of tour logistics, transportation, press kits, social media, and marketing.</li>
                                <li>Budgeted 100% of financials for company and 12 employees.</li>
                                <li>Recorded and released (4) albums while maintaining independent label interests.</li>
                                <li>Accomplished something that only a fortunate few percent can say. “I chased my dreams.”</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 style="font-size: x-large">
                            <a href="~/Content/img/Jacob Woodworth Resume.pdf" target="_blank">View and Print a PDF copy of my Resume</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->
