<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>
                <p>At a glance where I come from and the knowledge I have gained from those experiences</p>
                <br />
                <h4 style="font-size: x-large"><a href="~/Content/img/Jacob Woodworth Resume.pdf" target="_blank">View and Print a PDF copy of my Resume</a></h4>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4 class="nameText">Jacob Woodworth</h4>
                        <p><em>Innovative and deadline-driven IT Consultant and Full Stack Web Developer with years of experience in the creative and professional world. Eager to apply my experience and emerging development skills in design, development, and implementation of web design solutions and enhancements. Special interest in CCaaS and Lead Generation Technology promoting growth and innovation.</em></p>
                        <p>
                            <ul>
                                <li>St. Charles, Mo</li>
                                <li>(314) 743-9782</li>
                                <li>Jwoodworth515@gmail.com</li>
                            </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4 class="nameText">Full Stack Web Developer</h4>
                        <h5>2021 - 2021</h5>
                        <p><em>Centriq Training, St. Louis, Mo</em></p>
                        <div class="badges">
                            <img src="~/Content/img/ProgramGraduate1.png" />
                            <img src="~/Content/img/PerfectAttendance1.png" />
                            <img src="~/Content/img/CareerReady1.png" />
                        </div>
                        <p>
                            <ul>
                                <li>Front End: HTML5, CSS3, JavaScript,</li>
                                <li>Middle Tier: .Net, C#, React.js</li>
                                <li>Back End: SQL, ASP.Net, JS</li>
                                <li>Trouble Shooting & Debugging, Source Control, Agile/Scrum(Created Team Project, Website Deployment, Pair Programming, Code Review</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Architecture</h4>
                        <h5>2002 - 2004</h5>
                        <p><em>Ranken Technical College, St. Louis, Mo</em></p>
                        <p>
                            <ul>
                                <li>Software: AutoCad, Revit, SketchUp, 3DS Max Design, Chief Architect</li>
                                <li>Digital and Freehand production of Residential Design & Architecture, Commercial Development Architecture, 2D and 3D Computer Modeling, Model Structure Design</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Design Drafting</h4>
                        <h5>2000 - 2002</h5>
                        <p><em>Lewis and Clark Career Center, St. Charles, Mo</em></p>
                        <p>
                            <ul>
                                <li>Software: AutoCad, Chief Architect</li>
                                <li>Digital and Freehand production of Mechanical Drafting, Freehand Sketching, Design Rendering and Presentation, ANSI Standard Building Blocks, Architectural and Civil Design</li>
                            </ul>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4 class="nameText">Software Implementation Consultant</h4>
                        <h5>2021 - 2023</h5>
                        <p><em>Waterfield Technologies, Virtual Position </em></p>
                        <p>
                            <ul>
                                <li>Assumed primary ownership of customer relationships in the Twilio Flex with Xcelerate practice, producing 15+ successful projects and solid partnerships.</li>
                                <li>Maintained the translation of client needs into developmental tasks to produce Business and Functional Requirement Documents.</li>
                                <li>Role blended and held multiple titles concurrently such as IC, BA, PC, PM, CSM, QA, Support, Developer, and Pre-Sales Consultant.</li>
                                <li>Drove 100% of projects to completion and production ready state.</li>
                                <li>Capitalized on company RTO to obtain certifications in Twilio, Five9, Avaya, Office365 , React.js, and sharpened management skills. </li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Director of Operations</h4>
                        <h5>2012 - 2019</h5>
                        <p><em>Lightfire Partners LLC, St. Louis, Mo </em></p>
                        <p>
                            <ul>
                                <li>Developed company structure including 100% of customer service facing business.</li>
                                <li>managed daily operation company-wide including 50+ employees in both remote and multiple location capacities.</li>
                                <li>Managed a monthly budget of 50K-100K of data acquisition from clients and vendors monthly.</li>
                                <li>Recruited, trained, and coached 100% of staff on an ongoing basis.</li>
                                <li>Created and implemented a company standard to ensure quality and compliance.</li>
                                <li>Forecasted company P&L's working closely with owners and senior level management annually.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Performing Member and Manager</h4>
                        <h5>2006 - 2012</h5>
                        <p><em>Defiance Pointe LLC, St. Louis, Mo</em></p>
                        <p>
                            <ul>
                                <li>Creation, composition, and performance of music</li>
                                <li>Development of tour logistics, transportation, press kits, social media, and marketing.</li>
                                <li>Budgeted 100% of financials for company and 12 employees.</li>
                                <li>Recorded and released (4) albums while maintaining independent label interests.</li>
                                <li>Accomplished something that only a fortunate few percent can say. “I chased my dreams.”</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 style="font-size: x-large">
                            <a href="~/Content/img/Jacob Woodworth Resume.pdf" target="_blank">View and Print a PDF copy of my Resume</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->
