<main id="main">

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Resume</h2>
                <p>At a glance where I come from and the knowledge I have gained from those experiences</p>
                <br />
                <h4 style="font-size: x-large"><a href="~/Content/img/Jacob Woodworth Resume IT.pdf" target="_blank">View and Print a PDF copy of my Resume</a></h4>
            </div>

            <div class="row">
                <div class="col-lg-6">
                    <h3 class="resume-title">Summary</h3>
                    <div class="resume-item pb-0">
                        <h4 class="nameText">Jacob Woodworth</h4>
                        <p><em>Innovative and deadline-driven Full Stack Web Developer with  years of experience in the creative and professional world .</em></p>
                        <p>
                            <ul>
                                <li>St. Charles, Mo</li>
                                <li>(314) 743-9782</li>
                                <li>Jwoodworth515@gmail.com</li>
                            </ul>
                        </p>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4 class="nameText">Full Stack Web Developer</h4>
                        <h5>2021 - 2021</h5>
                        <p><em>Centriq Technology, St. Louis, Mo</em></p>
                        <div class="badges">
                            <img src="~/Content/img/ProgramGraduate1.png" />
                            <img src="~/Content/img/PerfectAttendance1.png" />
                            <img src="~/Content/img/CareerReady1.png" />
                        </div>
                        <p>
                            <ul>
                                <li>Front End: HTML5, CSS3, JavaScript, jQuery, jQuery UI, Responsive/Mobile Web Development, Bootstrap, ReactJS</li>
                                <li>Middle Tier: Visual Studio, C#.NET, ASP.NET, LINQ, MVC, EF</li>
                                <li>Back End: ADO.NET, SQL, SQL Server, SSMSE</li>
                                <li>Trouble Shooting & Debugging, Source Control, Agile/Scrum(Created Team Project, Website Deployment, Pair Programming, Code Review</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Architecture</h4>
                        <h5>2002 - 2004</h5>
                        <p><em>Ranken Technical College, St. Louis, Mo</em></p>
                        <p>
                            <ul>
                                <li>Software: AutoCad, Revit, 3DS Max Design, Chief Architect</li>
                                <li>Digital and Freehand production of Residential Design & Architecture, Commercial Development Architecture, 2D and 3D Computer Modeling, Model Structure Design</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Design Drafting</h4>
                        <h5>2000 - 2002</h5>
                        <p><em>Lewis and Clark Career Center, St. Charles, Mo</em></p>
                        <p>
                            <ul>
                                <li>Software: AutoCad, Chief Architect</li>
                                <li>Digital and Freehand production of Mechanical Drafting, Freehand Sketching, Design Rendering and Presentation, ANSI Standard Building Blocks, Architectural and Civil Design</li>
                            </ul>
                        </p>
                    </div>

                </div>
                <div class="col-lg-6">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4 class="nameText">Director of Operations</h4>
                        <h5>2012 - 2019</h5>
                        <p><em>Lightfire Partners LLC, St. Louis, Mo </em></p>
                        <p>
                            <ul>
                                <li>Developed company structure including 100% of customer service facing business.</li>
                                <li>Managed daily operation company-wide including 50+ employees. </li>
                                <li>Purchased and managed 50K-100K of data acquisition from clients and vendors monthly.</li>
                                <li>Recruited, trained, and coached 100% of staff an ongoing basis.</li>
                                <li>Created and implemented a company standard to ensure quality and compliance.</li>
                                <li>Forecasted company profits working closely with senior level management and accountants.</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 class="nameText">Performing Member and Manager</h4>
                        <h5>2006 - 2012</h5>
                        <p><em>Defiance Pointe LLC, St. Louis, Mo</em></p>
                        <p>
                            <ul>
                                <li>Creation, composition, and performance of music</li>
                                <li>Development of tour logistics, transportation, press kits, social media, and marketing.</li>
                                <li>Budgeted 100% of financials for company and 12 employees.</li>
                                <li>Recorded and released (4) albums while maintaining independent label interests.</li>
                                <li>Accomplished something that only a fortunate few percent can say. “I chased my dreams.”</li>
                            </ul>
                        </p>
                    </div>
                    <div class="resume-item">
                        <h4 style="font-size: x-large">
                            <a href="~/Content/img/Jacob Woodworth Resume IT.pdf" target="_blank">View and Print a PDF copy of my Resume</a>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- End Resume Section -->

</main><!-- End #main -->
