<main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container" data-aos="fade-up">

            <div class="section-title">
                <h2>Victory for Villains</h2>
                <p>
                    A Collection of photos from the Defiance Pointe days and the Don't Forget to Write Ep.
                </p>
            </div>



            <!--Music Player-->

            <script src="https://apps.elfsight.com/p/platform.js" defer></script>
            <div class="elfsight-app-903e39f2-b0df-438e-bf55-2ca9b8e509c1"></div>

            <!--End Music Player-->

            <article>
                <div class="row">
                    <div class="row-cols-sm-6">

                    </div>
                </div>
            </article>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->